= simple_form_for @service, :html => { :class => "form-horizontal" } do |f|
  = render 'errors/errors_messages', object: f.object
  .row
    .form-group.col-xs-12.col-md-3
      = f.label :name, "Service Name"
      '
      br
      = f.select(:name, Service::VALID_SERVICES , :include_blank => true)
      = error_span(@service[:name])
    .form-group.col-xs-12.col-md-1
    .form-group.col-xs-12.col-md-3
      = f.label :status, "Status"
      '
      br
      = f.input_field :status, as: :boolean
      = error_span(@service[:status])
    .form-group.col-xs-12.col-md-1
    .form-group.col-xs-12.col-md-3
      = f.label :descriotion, "Description"
      '
      = f.input :descriotion, label: false
      = error_span(@service[:descriotion])
  .row
    = f.button :submit, :class => 'btn-primary'
    '
    = link_to t('.cancel', :default => t("helpers.links.cancel")), services_path, :class => 'btn btn-default'

br
br
