- model_class = Service
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table class="table table-striped"
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:name)
      th= model_class.human_attribute_name(:descriotion)
      th= model_class.human_attribute_name(:status)
      th= model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @services.each do |service|
      tr
        td= link_to service.id, service_path(service)
        td= service.name
        td= service.descriotion
        td= service.status
        td= service.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_service_path(service), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), service_path(service), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_service_path, :class => 'btn btn-primary'

