- model_class = Service
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:name) + ':'
  br
  = @service.name
p
  strong= model_class.human_attribute_name(:descriotion) + ':'
  br
  = @service.descriotion
p
  strong= model_class.human_attribute_name(:status) + ':'
  br
  = @service.status

= link_to t('.back', :default => t("helpers.links.back")), services_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_service_path(@service), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), service_path(@service), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
