/ /!
/   h2
/     | Resend confirmation instructions
/   = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
/     = f.error_notification
/     = f.full_error :confirmation_token
/     .form-inputs
/       = f.input :email, required: true, autofocus: true
/     .form-actions
/       = f.button :submit, "Resend confirmation instructions"
/   = render "devise/shared/links"

/! Confirmation instructions
.text-center style=("padding:50px 0")
  .logo= t('form.resend_confirmation_instructions')

  /! Main Form
  .login-form-1
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      form#forgot-password-form.text-left
        /!
          = f.error_notification
        = render 'errors/errors_messages', object: f.object
        = f.full_error :confirmation_token
        .etc-login-form
          p= t('form.resend_confirmation_instructions_p')
        .login-form-main-message
        .main-login-form
          .login-group
            .form-group
              label.sr-only for="fp_email"  Email address
              = f.input :email, required: true, autofocus: true, label: false, input_html: {class: 'form-control', placeholder: '@Email', maxlength: 50 }, error_html: { class: 'input_error' }
          button.login-button type="submit"
            span Valider
        .etc-login-form
          = render "devise/shared/links"
    /! end:Main Form



