/!
  h2
    | Sign up
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, required: true, autofocus: true
      = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
      = f.input :password_confirmation, required: true
    .form-actions
      = f.button :submit, "Sign up"
  = render "devise/shared/links"

/!
    - unless @edit_profile

/! REGISTRATION FORM
.text-center style=("padding:50px 0")
  .row
    .logo Enregistrement
    /! Main Form
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .login-form-1
        form#register-form.text-left
          = render 'errors/errors_messages', object: f.object
          /!
            = f.error_notification
          .login-form-main-message
          .main-login-form
            .login-group
              .form-group
                label.sr-only for="country_id" Pays
                = f.collection_select :country_id, Country.name_sort, :_id, :name, prompt: "Sélectionnez votre pays", required: true, error_html: { class: 'input_error' }

              .form-group.text-left
                label.sr-only for="civility" Civility
                - woman_short = t('form.woman_short'); woman_long = t('form.woman_long')
                - man_short = t('form.man_short'); man_long = t('form.man_long')

                = f.input :civility, :collection => [[woman_short, woman_long], [man_short, man_long]],
                  :label_method => :last,
                  :value_method => :first,
                  label: false,
                  :as => :radio_buttons,
                  item_wrapper_class: 'inline',
                  :checked => true, error_html: { class: 'input_error' }

              .form-group
                label.sr-only for="first_name" Nom
                = f.input :first_name, label: false, input_html: {class: 'form-control', placeholder: 'Nom', maxlength: 50 }, error_html: { class: 'input_error' }
              .form-group
                label.sr-only for="last_name" Prénom
                = f.input :last_name, label: false, input_html: {class: 'form-control', placeholder: 'Prénom', maxlength: 50 }, error_html: { class: 'input_error' }

              .form-group
                label.sr-only for="city" Ville
                = f.input :city, label: false, input_html: {class: 'form-control', placeholder: 'Ville', maxlength: 50 }, error_html: { class: 'input_error' }
              .form-group
                label.sr-only for="last_name" Code Postal
                = f.input :zip_code, label: false, input_html: {class: 'form-control', placeholder: 'Code Postal', maxlength: 50 }, error_html: { class: 'input_error' }

              .form-group
                label.sr-only for="email"  Email address
                = f.input :email, label: false, type: :email, input_html: {class: 'form-control', placeholder: '@E-mail', maxlength: 50 }, error_html: { class: 'input_error' }

              - unless @edit_profile
                .form-group
                  label.sr-only for="password"  Mot de passe
                  = f.input :password, label: false, type: :password, autocomplete: "off", input_html: {class: 'form-control', placeholder: 'Mot de passe', maxlength: 50 }, error_html: { class: 'input_error' }
                .form-group
                  label.sr-only for="password_confirmation"  Confirmation
                  = f.input :password_confirmation, label: false, type: :password, autocomplete: "off", input_html: {class: 'form-control', placeholder: 'Confirmation', maxlength: 50 }, error_html: { class: 'input_error' }
              .form-group.login-group-checkbox
                = f.input_field :agree_terms, as: :boolean, checked_value: true, unchecked_value: false, :disabled => false, :checked => license_agreement ? true : false, input_html: {class: 'form-control', id: 'agree_terms' }, error_html: { class: 'input_error' }
                /!
                  /input#reg_agree name="reg_agree" type="checkbox" value="true" checked="" /
                '
                label for="agree_terms"
                  '
                  =t 'form.agree_terms.sentence', :default => "I agree with"

                  a href="#{conditions_path}"
                    '
                    =t 'form.agree_terms.terms', :default => "terms"
                  '
            button.login-button type="submit"
              span Valider
        .etc-login-form
          = render "devise/shared/links"
      /! end:Main Form
