h1 Welcome to cfeb-france.org, #{@user.pretty_name}!
p You have successfully signed up to cfeb-france.org, your username is: #{@user.email}.
p To login to the site, just follow this link: #{link_to @url, @url}
p Thanks for joining and have a great day!
