.etc-login-form
  - if controller_name != 'sessions'
    span
      = "- #{t('devise.shared.links.already_have_an_account')}"
      '
    = link_to t('devise.shared.links.login_here'), new_session_path(resource_name)
    br
  - if devise_mapping.registerable? && controller_name != 'registrations'
    span
      = "- #{t('devise.shared.links.new_user')}"
      '
    = link_to t('devise.shared.links.create_new_account'), new_registration_path(resource_name)
    br
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    span
      = "- #{t('devise.shared.links.forgot_your_password')}"
      '
      = link_to t('devise.shared.links.click_here'), new_password_path(resource_name)
    br
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = link_to "- #{t('devise.shared.links.didn_t_receive_confirmation_instructions')}", new_confirmation_path(resource_name)
    br
  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = link_to "- #{t('devise.shared.links.didn_t_receive_unlock_instructions')}", new_unlock_path(resource_name)
    br
  - if devise_mapping.omniauthable?
    - resource_class.omniauth_providers.each do |provider|
      = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
