// Variables

$content-margin: auto
$lightGray: #999
$striped: #f8f8f8
$grayMediumLight: #eaeaea
$redMenuColor: rgb(233, 49, 98)
$inputErrorColot: rgb(236, 221, 221)
$publicHeaderColor: #CF732A
$publicHeaderT1Color: #2B5391

@mixin box_sizing
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box


.boxsizingBorder
  -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
      box-sizing: border-box
/* Styles go here
 *
 * Sticky footer styles

html,
body
  /*min-height: 100vh
  height: 100%
/* The html and body elements cannot have any padding or margin.
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0)
  /*border: 1px solid #d4d4d4

/* Wrapper for page content to push down footer
#wrap
  min-height: 100%
  height: auto
  /* Negative indent footer by its height
  margin: 0 auto -60px
  /* Pad bottom by footer height
  padding: 0 0 60px

.dashboard
  .page-header
    h1
      padding-bottom: 15px
      border-bottom: 1px solid #d4d4d4

.page-header
  h1
    text-align: center
/* Set the fixed height of the footer here
footer
  height: 60px
  /* background-color: #f5f5f5
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2)
  border: 1px solid #d4d4d4

/* Custom page CSS
 *--------------------------------------------------
/* Not required for template or sticky footer method.

.container
  //width: auto
  //  max-width: 680px
  padding: 0 25px

.container .credit
  margin: 20px 0

.center-block
  display: table
  width: 100%
  margin: 0 auto

.input_error
  background-color: $inputErrorColot
  //border: 1px dashed red
  //color: white
  //font-weight: bold

.center-row
  float: none
  margin: 0 auto

.public
  h1
    color: $publicHeaderColor
    .t1
      color: $publicHeaderT1Color
  hr
    border: 1px solid $publicHeaderColor


.panel-body
  /* The html and body elements cannot have any padding or margin.
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2)
  /*background-repeat: repeat-x
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0)
  /*border: 1px solid #d4d4d4

/*------------------------------------------------------------------
 *[Master Stylesheet]
 *
 *Project     : Aether
 *Version   : 1.0
 *Last change : 2015/03/27
 *-------------------------------------------------------------------
/*------------------------------------------------------------------
 *[Table of contents]
 *
 *1. General Structure
 *2. Anchor Link
 *3. Text Outside the Box
 *4. Main Form
 *5. Login Button
 *6. Form Invalid
 *7. Form - Main Message
 *8. Custom Checkbox & Radio
 *9. Misc
 *-------------------------------------------------------------------
/*=== 1. General Structure ===

html, body
  background: #efefef
  //padding: 10px
  font-family: 'Varela Round'

/*=== 2. Anchor Link ===

a
  //color: #aaaaaa
  transition: all ease-in-out 200ms
  &:hover
    color: #333333
    text-decoration: none

/*=== 3. Text Outside the Box ===

.etc-login-form
  color: #919191
  padding: 10px 20px
  min-width: auto
  min-width: 300px
  text-align: left
  p
    margin-bottom: 2px

/*=== 4. Main Form ===

.login-form-1
  max-width: 300px
  border-radius: 5px
  display: inline-block

.main-login-form
  position: relative

.login-form-1
  .form-control
    border: 0
    box-shadow: 0 0 0
    border-radius: 0
    background: transparent
    color: #555555
    padding: 7px 0
    font-weight: bold
    height: auto
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
      color: #999999
  .form-group
    margin-bottom: 0
    border-bottom: 2px solid #efefef
    padding-right: 20px
    position: relative
    &:last-child
      border-bottom: 0

    select
      border-bottom: 2px
      margin-bottom: 10px
      color: #333333
      min-width: 200px


.login-group
  background: #ffffff
  color: #999999
  border-radius: 8px
  padding: 10px 20px

.login-group-checkbox
  padding: 5px 0

/*=== 5. Login Button ===

.login-form-1 .login-button
  position: absolute
  right: -25px
  top: 50%
  //background: #ffffff
  //color: #999999
  background: #ffffff
  color: #0a6b0d
  padding: 11px 0
  width: 60px
  height: 50px
  margin-top: -25px
  border: 5px solid #efefef
  border-radius: 50%
  transition: all ease-in-out 500ms
  font-weight: bold
  &:hover
    //color: #555555
    background: $publicHeaderColor
    color: #ffffff
    transform: rotate(450deg)
    span
      display: none
    &:before
      font-family: FontAwesome
      //content: "\f095"
      content: "\f102"
      //content: "\f0aa"
      //font-size: 20px

  &.clicked
    color: #555555
    &:hover
      transform: none
    &.success
      color: #2ecc71
    &.error
      color: #e74c3c

/*=== 6. Form Invalid ===

.input_error
  font-size: 9px

label.form-invalid
  position: absolute
  top: 0
  right: 0
  z-index: 5
  display: block
  margin-top: -25px
  padding: 7px 9px
  background: #777777
  color: #ffffff
  border-radius: 5px
  font-weight: bold
  font-size: 11px
  &:after
    top: 100%
    right: 10px
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none
    border-color: transparent
    border-top-color: #777777
    border-width: 6px

/*=== 7. Form - Main Message ===

.login-form-main-message
  background: #ffffff
  color: #999999
  border-left: 3px solid transparent
  border-radius: 3px
  margin-bottom: 8px
  font-weight: bold
  height: 0
  padding: 0 20px 0 17px
  opacity: 0
  transition: all ease-in-out 200ms
  &.show
    height: auto
    opacity: 1
    padding: 10px 20px 10px 17px
  &.success
    border-left-color: #2ecc71
  &.error
    border-left-color: #e74c3c

/*=== 8. Custom Checkbox & Radio ===
/* Base for label styling
/*
  [type="checkbox"]
    &:not(:checked), &:checked
      position: absolute
      left: -9999px
/*
  [type="radio"]
    &:not(:checked), &:checked
      position: absolute
      left: -9999px
/*
  [type="checkbox"]
    &:not(:checked) + label, &:checked + label
      position: relative
      padding-left: 25px
      padding-top: 1px
      cursor: pointer
/*
  [type="radio"]
    &:not(:checked) + label, &:checked + label
      position: relative
      padding-left: 25px
      padding-top: 1px
      cursor: pointer

  /* checkbox aspect
/*
  [type="checkbox"]
    &:not(:checked) + label:before, &:checked + label:before
      content: ''
      position: absolute
      left: 0
      top: 2px
      width: 17px
      height: 17px
      border: 0px solid #aaa
      background: #f0f0f0
      border-radius: 3px
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3)
/*
  [type="radio"]
    &:not(:checked) + label:before, &:checked + label:before
      content: ''
      position: absolute
      left: 0
      top: 2px
      width: 17px
      height: 17px
      border: 0px solid #aaa
      background: #f0f0f0
      border-radius: 3px
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3)

  /* checked mark aspect
/*
  [type="checkbox"]
    &:not(:checked) + label:after, &:checked + label:after
      position: absolute
      color: #555555
      transition: all .2s
/*
  [type="radio"]
    &:not(:checked) + label:after, &:checked + label:after
      position: absolute
      color: #555555
      transition: all .2s

  /* checked mark aspect changes
/*
  [type="checkbox"]:not(:checked) + label:after, [type="radio"]:not(:checked) + label:after
    opacity: 0
    transform: scale(0)
/*
  [type="checkbox"]:checked + label:after, [type="radio"]:checked + label:after
    opacity: 1
    transform: scale(1)

  /* disabled checkbox
/*
  [type="checkbox"]:disabled
    &:not(:checked) + label:before, &:checked + label:before
      box-shadow: none
      border-color: #8c8c8c
      background-color: #878787
/*
  [type="radio"]:disabled
    &:not(:checked) + label:before, &:checked + label:before
      box-shadow: none
      border-color: #8c8c8c
      background-color: #878787
/*
  [type="checkbox"]:disabled:checked + label:after, [type="radio"]:disabled:checked + label:after
    color: #555555
/*
  [type="checkbox"]:disabled + label, [type="radio"]:disabled + label
    color: #8c8c8c

  /* accessibility
/*
  [type="checkbox"]
    &:checked:focus + label:before, &:not(:checked):focus + label:before, &:checked:focus + label:before, &:not(:checked):focus + label:before
      border: 1px dotted #f6f6f6

/* hover style just for information
/*
  label:hover:before
    border: 1px solid #f6f6f6 !important

/*=== Customization ===
/* radio aspect

/*
  [type="checkbox"]
    &:not(:checked) + label:before, &:checked + label:before
      border-radius: 3px

/*
  [type="radio"]
    &:not(:checked) + label:before, &:checked + label:before
      border-radius: 35px

/* selected mark aspect

[type="checkbox"]
  &:not(:checked) + label:after, &:checked + label:after
    content: '✔'
    top: 0
    left: 2px
    font-size: 14px

/*
  [type="radio"]
    &:not(:checked) + label:after, &:checked + label:after
      content: '\2022'
      top: 0
      left: 3px
      font-size: 30px
      line-height: 25px

/*=== 9. Misc ===

.logo
  padding: 15px 0
  font-size: 25px
  color: #aaaaaa
  font-weight: bold


#dropdownMenu1
  &:hover
    //color: #555555
    background: $publicHeaderColor
    color: #ffffff

/*
  body
    margin: 0
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 13px
    line-height: 18px
    color: #333333
    background-color: #ffffff
    /* changes for better demo
    margin: 20px 0 0
    text-align: center

.badge
  padding: 1px 9px 2px
  font-size: 12.025px
  font-weight: bold
  white-space: nowrap
  color: #ffffff
  background-color: #999999
  -webkit-border-radius: 9px
  -moz-border-radius: 9px
  border-radius: 9px
  &:hover
    color: #ffffff
    text-decoration: none
    cursor: pointer

.badge-error
  background-color: #b94a48
  &:hover
    background-color: #953b39

.badge-warning
  background-color: #f89406
  &:hover
    background-color: #c67605

.badge-success
  background-color: #468847
  &:hover
    background-color: #356635

.badge-info
  background-color: #3a87ad
  &:hover
    background-color: #2d6987

.badge-inverse
  background-color: #333333
  &:hover
    background-color: #1a1a1a


.btn-ok
  position: absolute
  right: -25px
  top: 50%
  //background: #ffffff
  //color: #999999
  background: #ffffff
  color: #0a6b0d
  padding: 11px 0
  width: 50px
  height: 50px
  margin-top: -25px
  border: 5px solid #efefef
  border-radius: 50%
  transition: all ease-in-out 500ms
  &:hover
    //color: #555555
    background: $publicHeaderColor
    color: #ffffff
    transform: rotate(450deg)
  &.clicked
    color: #555555
    &:hover
      transform: none
    &.success
      color: #2ecc71
    &.error
      color: #e74c3c

//Text wrapper

.scrollbar
  margin-left: 1px
  float: left
  height: 300px
  width: auto
  background: #F5F5F5
  //border-top: 3px solid #d4d4d4
  border: 3px solid #d4d4d4
  overflow-y: scroll
  margin: 0 5px 25px

.force-overflow
  min-height: 450px

#text-wrapper
  text-align: justify
  width: auto
  margin: auto
  p
    margin: 10px


#style-6::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  background-color: #F5F5F5

#style-6::-webkit-scrollbar
  width: 10px
  background-color: #F5F5F5

#style-6::-webkit-scrollbar-thumb
  background-color: #F90
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,                                          transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)

.flat_menu
  .thumbnail,
  .caption
    background-color: #F5F5F5
    border-bottom: 1px solid #d4d4d4
    text-align: center

.btn-xl
  padding: 18px 28px
  font-size: 22px
  border-radius: 8px
  width: 100%

.color_hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #CF732A
  margin: 1em 0
  padding: 0






