= simple_form_for @user, :html => { :class => "form-horizontal" } do |f|
  /! = f.error_notification
  = field_set_tag do
    legend "Information sur l'utilisateur"
    = render 'errors/errors_messages', object: f.object

    .row
      .form-group.col-xs-12.col-md-3
        = f.label :civility, "Civility"
        '
        = f.select(:civility, t('form.civility'), :include_blank => true)

      .form-group.col-md-1
      .form-group.col-xs-12.col-md-5
        strong Vous devez accepter les conditions générales d'utilisation
        br
        = f.input_field :agree_terms, as: :boolean
      .form-group.col-md-1
      .form-group.col-xs-12.col-md-4
        = f.label :country_id, "Pays"
        '
        = f.collection_select :country_id, Country.name_sort, :_id, :name
        - if @user.country
          .form-group.col-md-2
          = image_tag @user.country.flag.url(:thumb)

    .row
      .form-group.col-xs-12.col-md-5
        = f.input :first_name, label: "Nom", input_html: {class: 'form-control', placeholder: 'nom', maxlength: 50 }, error_html: { class: 'input_error' }
      .form-group.col-md-1
      .form-group.col-xs-12.col-md-5
        = f.input :last_name, label: "Prénom", input_html: {class: 'form-control', placeholder: 'prénom', maxlength: 50}, error_html: { class: 'input_error' }
    .row
      .form-group.col-xs-12.col-md-5
        = f.input :email, label: "E-mail", type: :email, input_html: {class: 'form-control', placeholder: '@', maxlength: 50 }, error_html: { class: 'input_error' }
      .form-group.col-md-1
      .form-group.col-xs-12.col-md-5
        = f.input :phone, label: "Telephone", type: :tel, input_html: {class: 'form-control', placeholder: '06 00 00 00 00', maxlength: 10 }, error_html: { class: 'input_error' }

    .row
      .form-group.col-xs-12.col-md-5
        = f.input :adresse, label: "Adresse", input_html: {class: 'form-control', placeholder: 'Adresse', maxlength: 70 }, error_html: { class: 'input_error' }
      .form-group.col-md-1
      .form-group.col-xs-12.col-md-2
        = f.input :city, label: "City", input_html: {class: 'form-control', placeholder: 'Ville', maxlength: 50 }, error_html: { class: 'input_error' }
      .form-group.col-md-1
      .form-group.col-xs-12.col-md-2
        = f.input :zip_code, label: "Code Postal", input_html: {class: 'form-control', placeholder: 'Code Postal', maxlength: 50 }, error_html: { class: 'input_error' }


    - unless @edit_profile
      .row
        .form-group.col-xs-12.col-md-5
          = f.input :password, autocomplete: "off"
        .form-group.col-md-1
        .form-group.col-xs-12.col-md-5
          = f.input :password_confirmation, label: 'Confirmation', autocomplete: "off"

  .form-actions.col-sm-offset-3
    = f.button :submit, :class => 'btn-primary'
    '

    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_user? ? users_path : user_profil_path, :class => 'btn btn-default'
