- model_class = User
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.titleize
  br

.row
  .form-group.col-xs-12.col-md-8.col-md-push
    .panel.panel-default
      .panel-heading
        h3.panel-title.text-center Les informations saisies
      br
      .panel-body
        .row
          .form-group.col-xs-12.col-md-5
            strong= model_class.human_attribute_name(:civility) + ':'
            '
            = @user.civility
        .row
          .form-group.col-xs-12.col-md-5
            strong= model_class.human_attribute_name(:first_name) + ':'
            '
            = @user.first_name
          .form-group.col-md-1
          .form-group.col-xs-12.col-md-5
            strong= model_class.human_attribute_name(:last_name) + ':'
            '
            = @user.last_name
        .row
          .form-group.col-xs-12.col-md-5
            strong= model_class.human_attribute_name(:email) + ':'
            '
            = @user.email
          .form-group.col-md-1
          .form-group.col-xs-12.col-md-2
            strong= model_class.human_attribute_name(:phone) + ':'
            '
            = @user.phone
          / .form-group.col-md-1
          / .form-group.col-xs-12.col-md-2

        .row
          .form-group.col-xs-12.col-md-5
            strong= "Country :"
            '
            = @user.country.name
            '
            /!= image_tag @user.country.flag.url(:thumb)
          .form-group.col-md-1

          .form-group.col-xs-12.col-md-5
            strong= model_class.human_attribute_name(:city) + ':'
            '
            = @user.city

        .row
          .form-group.col-xs-12.col-md-5
            strong= model_class.human_attribute_name(:adresse) + ':'
            '
            = @user.adresse
          .form-group.col-md-1
          .form-group.col-xs-12.col-md-5
            strong= model_class.human_attribute_name(:zip_code) + ':'
            '
            = @user.zip_code

      - if user_has_access_to_admin_panel?
        .panel-footer
          = "#{t("form.user_role_title")} : "
          = user_roles_tag(@user)

  .form-group.col-xs-12.col-md-4.col-md-pull
    .thumbnail
      = image_tag @user.country.flag.url(:thumb)
      .caption
        h3= "#{@user.country.name} (+#{@user.country.indicatif})"
        span
          | Nombre d'utilisateurs enregistrés :
          = bootstrap_badge_for(@user.country.users_count)
  .form-group.col-xs-12.col-md-2
  - if  admin_user?

    .form-group.col-xs-12.col-md-4.col-md-pull
      = simple_form_for @user, url: update_roles_path(@user), :html => { :method => :patch, :class => "form-horizontal" } do |f|
        fieldset
          legend=t("form.user_role_title")
          - @roles.each do |role|
            = hidden_field_tag(role, 0)
            = check_box_tag(role, 1, @user.has_role?(role))
            '
            = f.label(role)
            '
            br

        .form-actions.col-sm-offset-3
          = f.button :submit, 'Mettre à jour les roles', :class => 'btn-primary', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } , :class => 'btn btn-primary btn-xs'
            '
  br
  br
  .row
  br
  br
