- model_class = User
table class="table table-striped table-condensed table-hover"
  thead
    tr
      /! th= model_class.human_attribute_name(:country_id)
      th= link_to_sortable :first_name, model_class.human_attribute_name(:name)
      th.hidden-xs= model_class.human_attribute_name(:email)
      th= link_to_sortable :country_id, model_class.human_attribute_name(:country_id)
      /!
        - if admin_user?
          th= link_to_sortable :admin, model_class.human_attribute_name(:admin)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @users.each do |user|
      tr
        td= link_to user.pretty_name, user_path(user)
        td.hidden-xs= user.email
        td= image_tag user.country.flag.url(:thumb)
          /! td= check_box_tag user.admin
          /!
            - if admin_user?
              td= bootstrap_label_for(user.admin, 'warning')
        td
          - if current_user?(user)
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(user), :class => 'btn btn-default btn-xs'
          '
          - if admin_user?
            = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
          - else
            = link_to t('.show', :default => t("helpers.links.show")), user_path(user), :class => 'btn btn-default btn-xs'
.row
  .center-row.col-lg-9
    = paginate @users, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm pager pagination-centered"
br
br