- @users.each do |user|
  tr
    td= link_to user.pretty_name, user_path(user)
    td.hidden-xs= user.email
    td= user.city
    td.text-center= bootstrap_label_for(user.confirmed?)
    td.hidden-xs
      = link_to t('.show', :default => t("helpers.links.show")), user_path(user), :class => 'btn btn-default btn-xs'
      '
      /!.send_confirmation_instructions
.row
  .center-row.col-lg-9
    = paginate @users, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm pager pagination-centered"