- model_class = User
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
  - if admin_user?
    p.center-row.col-lg-2
      | Download :
      '
      | -
      /!link_to "CSV", users_path(format: "csv")
      '
      ||
      '
      = link_to "Excel", users_path(format: "xls")

= render "layouts/search_bar"
br
br
#users_list0
  = render 'users/users_list0' 
p
  - if admin_user?
    = link_to t('.new', :default => t("helpers.links.new")), new_user_path, :class => 'btn btn-primary'
