$("#users_list0").html("<%= escape_javascript(render partial: 'users/users_list0', locals: { :@users => @users } ) %>");
$("#search_errors_explanation").html("<%= escape_javascript(bootstrap_flash) %>");
