<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="<%= @filename %>">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Pays</Data></Cell>
        <Cell><Data ss:Type="String">Ville</Data></Cell>
        <Cell><Data ss:Type="String">Code Postal</Data></Cell>
        <Cell><Data ss:Type="String">Adresse</Data></Cell>
        <Cell><Data ss:Type="String">Nom</Data></Cell>
        <Cell><Data ss:Type="String">Prenom</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Telephone</Data></Cell>
        <Cell><Data ss:Type="String">Date Identification</Data></Cell>
        <Cell><Data ss:Type="String">Confirmation du compte</Data></Cell>

      </Row>
    <% @all_users.each do |user| %>
      <Row>
        <Cell><Data ss:Type="String"><%= user.country_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.city %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= user.zip_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.adresse %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.phone %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.created_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.confirmed? %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>