= render :partial => 'show_user'

.row
  .form-actions.col-sm-offset-3
    = link_to t('.back', :default => t("helpers.links.back")), admin_user? ? users_path : root_path, :class => 'btn btn-default'
    '
    - if current_user?(@user)
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn btn-default'
      '
    - if admin_user?
      = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
