/!
  h2
    | Change your password
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    = f.input :reset_password_token, as: :hidden
    = f.full_error :reset_password_token
    .form-inputs
      = f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
      = f.input :password_confirmation, label: "Confirm your new password", required: true
    .form-actions
      = f.button :submit, "Change my password"
  = render "devise/shared/links"

/! FORGOT PASSWORD FORM
.text-center style=("padding:50px 0")
  .logo Change your password
  /! Main Form
  .login-form-1
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      form#forgot-password-form.text-left
        /!
          = f.error_notification
        = render 'errors/errors_messages', object: f.object
        = f.input :reset_password_token, as: :hidden
        = f.full_error :reset_password_token
        .etc-login-form
          p When you fill in your new password, you need that to loggin next time
        .login-form-main-message
        .main-login-form
          .login-group
            .form-group
              label.sr-only for="password" Nouveau mot de passe
              = f.input :password, label: false, required: true, autofocus: true, autocomplete: 'off', input_html: {class: 'form-control', placeholder: "Nouveau mot de passe", maxlength: 50 }, error_html: { class: 'input_error' }
              //= f.input :password, label: false, required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: {class: 'form-control', placeholder: "Nouveau mot de passe", maxlength: 50 }, error_html: { class: 'input_error' }
            .form-group
              label.sr-only for="confirmation" Confirmation
              = f.input :password_confirmation, label: false, required: true, autocomplete: 'off', input_html: {class: 'form-control', placeholder: "Confirmer le mot de passe", maxlength: 50 }, error_html: { class: 'input_error' }
          button.login-button type="submit"
            span Valider
        .etc-login-form
          = render "devise/shared/links"
    /! end:Main Form


