/ /!
/   h2
/     | Forgot your password?
/   = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
/     = f.error_notification
/     .form-inputs
/       = f.input :email, required: true, autofocus: true
/     .form-actions
/       = f.button :submit, "Send me reset password instructions"
/   = render "devise/shared/links"

/! FORGOT PASSWORD FORM
.text-center style=("padding:50px 0")
  .logo Forgot your password?
  /! Main Form
  .login-form-1
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      form#forgot-password-form.text-left
        /!
          = f.error_notification
        = render 'errors/errors_messages', object: f.object
        .etc-login-form
          p When you fill in your registered email address, you will be sent instructions on how to reset your password.
        .login-form-main-message
        .main-login-form
          .login-group
            .form-group
              label.sr-only for="fp_email"  Email address
              = f.input :email, required: true, autofocus: true, label: false, input_html: {class: 'form-control', placeholder: '@Email', maxlength: 50 }, error_html: { class: 'input_error' }
          button.login-button type="submit"
            span Valider
        .etc-login-form
          = render "devise/shared/links"
    /! end:Main Form


