doctype html
html
  head
    title Bootstrap Example
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" /
    script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
    script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
    css:
      .test {
          | position: relative;
          | top: 50px;
          | height: 200px;
          | overflow: auto;
          | font-size: 28px;
      | }
      #section1  color: #fff; background-color: #1E88E5;
      #section2  color: #fff; background-color: #673ab7;
      #section3  color: #fff; background-color: #ff9800;
      #section41  color: #fff; background-color: #00bcd4;
      #section42  color: #fff; background-color: #009688;
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle data-target="#myNavbar" data-toggle="collapse" type="button"
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand href="#"  Mentions légales
        div
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a href="#section1"  Section 1
              li
                a href="#section2"  Section 2
              li
                a href="#section3"  Section 3
              li.dropdown
                a.dropdown-toggle data-toggle="dropdown" href="#"
                  | Section 4
                  span.caret
                ul.dropdown-menu
                  li
                    a href="#section41"  Section 4-1
                  li
                    a href="#section42"  Section 4-2
    .test data-offset="12" data-spy="scroll" data-target=".navbar"
      #section1
        .container-fluid
          h1 Editeur du site
          p
            cfeb-france.org
            par coordination diplomatique CFEB-France
            S/C Ambassade du Niger en France,
            154 rue de Longchamp 75116 Paris.
            France
            Tél. : + 33 (0)0 00 00 00 00
            Fax : + 33 (0)0 00 00 00 00
            http://www.cfeb-france.org
            coordination@cfeb-france.org
            N° déclaration CNIL : 18 77 495


          p Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
          p Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
      #section2
        .container-fluid
          h1 Section 2
          p Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
          p Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
      #section3
        .container-fluid
          h1 Section 3
          p Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
          p Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
      #section41
        .container-fluid
          h1 Section 4 Submenu 1
          p Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
          p Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
      #section42
        .container-fluid
          h1 Section 4 Submenu 2
          p Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
          p Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!


