= simple_form_for @user, :html => { :class => "form-horizontal" } do |f|
  = f.error_notification
  = field_set_tag do
    legend Information sur l'utilisateur
    .row
      .form-group.col-xs-12.col-md-5
        = f.input :first_name, label: "Nom", input_html: {class: 'form-control', placeholder: 'nom', maxlength: 50 }, error_html: { class: 'input_error' }
      .form-group.col-md-1
      .form-group.col-xs-12.col-md-5
        = f.input :last_name, label: "Prénom", input_html: {class: 'form-control', placeholder: 'prénom', maxlength: 50}, error_html: { class: 'input_error' }
    .row
      .form-group.col-xs-12.col-md-5
        = f.input :email, label: "E-mail", type: :email, input_html: {class: 'form-control', placeholder: '@', maxlength: 50 }, error_html: { class: 'input_error' }
      .form-group.col-md-1
      .form-group.col-xs-12.col-md-5
        strong Est un admin?
        br
        = f.input_field :admin, as: :boolean

    .row
      .form-group.col-xs-12.col-md-5
        = f.label :country_id
        = f.collection_select :country_id, Country.name_sort, :_id, :name
      .form-group.col-md-1

    - unless @edit_profile
      .row
        .form-group.col-xs-12.col-md-5
          = f.input :password
        .form-group.col-md-1
        .form-group.col-xs-12.col-md-5
          = f.input :password_confirmation, label: 'Confirmation'

  .form-actions.col-sm-offset-3
    = f.button :submit, :class => 'btn-primary'
    '
    = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default'
