.page-header
  h1 Qui sommes nous ?

.col-lg-10.col-lg-offset-1
  .row.center-block
    /!.col-sm-9.col-md-7-offset-2
    .thumbnail
      .caption
        h3 CFEB-FRANCE
        p
          = Settings.application_about_us_main_text
          '
          a href="#{Settings.application_about_us_link_url}" target="_blank" role="link"  Nous contacter.