.page-header
  h1 Conditons Générales
.col-lg-10.col-lg-offset-1
  .row.center-block
    /!.col-sm-9.col-md-7-offset-2
    /!marquee behavior="scroll" direction="left" scrollamount="80" scrolldelay="1000"
      | Your slide-in text goes here
    .thumbnail
      .caption.ok
        h3 Important!
        p
          strong
            | Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir. En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités.
            '
          a href="#{Settings.application_about_us_link_url}" target="_blank" role="link"  Nous contacter?
        #text-wrapper
          .scrollbar#style-6
            .force-overflow

              h2 style=("color: #CF732A")
                | Mentions légales
              h3
                |  Editeur du site
              p

                b
                  | cfeb-france.org
                  '
                | par coordination diplomatique CFEB-France
                br
                | S/C Ambassade du Niger en France,
                br
                | 154 rue de Longchamp 75116 Paris.
                '
                | France
                br
                | Tél. : + 33 (0)6 45 84 66 80 / + 33 (0)6 50 40 59 56 / + 33 (0)6 85 81 28 65
                '
                br
                | Fax :
                br
                | http://www.cfeb-france.org
                br
                | coordination@cfeb-france.org
                br
                | N° déclaration CNIL :
                b
                  | 18 77 495

              h3
                |  Conditions d'utilisation

              p
                | Le site accessible par les url suivants : http://www.cfeb-france.org est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis par la coordination diplomatique-CFEB-France. Ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.

              h3 Responsable éditorial
              p
                | cfeb-france.org par coordination diplomatique CFEB-France
                br
                | S/C Ambassade du Niger en France,
                br
                | 154 rue de Longchamp 75116 Paris.
                '
                | France
                br
                | http://www.cfeb-france.org
                br
                | coordination@cfeb-france.org

              h3 Limitation de responsabilité
              p
                | Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).
              p
                | Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.
                br
                br
                '
                | Les photos sont non contractuelles.

              p
                | Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de la coordination diplomatique cfeb-france.

              h3 Litiges

              p
                | Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société . La langue de référence, pour le règlement de contentieux éventuels, est le français.

              h3 Déclaration à la CNIL

              p
               | Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, le site a fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (www.cnil.fr).

              h3 Droit d'accès
              p
                | En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale auprès de coordination diplomatique- CFEB-France, S/C Ambassade du Niger en France, 154 rue de Longchamp 75116 Paris, France. Ou par voie électronique à l’adresse email suivante :coordination@cfeb-france.org.
                br
                br
                | Les informations personnelles collectées ne sont en aucun cas confiées à des tiers hormis pour l’éventuelle bonne exécution du recensement physique de l’internaute.

              h3 Confidentialité
              p
                | Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution du recensement physique. Ces données permettrons d’établir une cartographie des personnes à recenser afin de déployer efficacement des missions en leur direction.

              h3 Sécurité

              p
                | Nous faisons tout notre possible pour faire de cfeb-france un service sûr, mais ne pouvons pas garantir la sécurité absolue. Pour assurer la sécurité sur cfeb-france, nous avons besoin de votre aide, ce qui inclut les engagements suivants de votre part :
                ol
                  li
                    | Vous ne téléchargerez pas de virus ou autres codes malveillants.
                  li
                    | Vous ne demanderez pas les informations de connexion et n’accéderez pas à un compte appartenant à quelqu’un d’autre.
                  li
                    | Vous n’intimiderez pas et ne harcèlerez pas d’autres personnes.
                  li
                    | Vous n’utiliserez pas coordination diplomatique cfeb-france à des fins illégales, malveillantes ou discriminatoires.
                  li
                    | Vous n’agirez pas d’une manière qui pourrait désactiver, surcharger ou autrement empêcher le bon fonctionnement ou l’apparence de cfeb-france (comme une attaque entraînant un refus de service ou une interférence avec l’affichage des Pages ou d’autres fonctionnalités de coordination diplomatique cfeb-france).
                  li
                    | Vous ne permettrez pas et n’encouragerez pas les infractions à cette Déclaration ou à nos règlements.

                h3 Inscription et sécurité des comptes
                p
                  | Les personnes qui utilisent cfeb-france donnent leur vrai nom et de vraies informations les concernant, et nous vous demandons de nous aider à ce que cela ne change pas. Voilà quelques conditions que vous vous engagez à respecter concernant l’inscription et la sécurité de votre compte :

                  ol
                    li
                      | Vous ne fournirez pas de fausses informations personnelles sur cfeb-france et ne créerez pas de compte pour une autre personne sans son autorisation.
                    li
                      | Vous ne créerez qu’un seul compte personnel.
                    li
                      | Si nous supprimons votre compte, vous n’en créerez pas d’autres sans notre autorisation.
                    li
                      | Vous n’utiliserez pas cfeb-france si vous avez moins de 17 ans.
                    li
                      | Vos coordonnées devront toujours être exactes et à jour.
                    li
                      | Vous ne communiquerez pas votre mot de passe (ou, dans le cas des développeurs), ne laisserez personne accéder à votre compte ni ne ferez quoi que ce soit qui puisse compromettre la sécurité de votre compte.
                    li
                      | Vous ne transférerez pas votre compte (y compris les Pages ou applications dont vous êtes l’administrateur) sans avoir préalablement obtenu une autorisation écrite de notre part.

                  h3 Propriété intellectuelle
                  p
                    | Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de cfeb-france à l'exception des marques, logos, outils ou contenus appartenant à d'autres structures partenaires ou auteurs.
                  p
                    | Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de cfeb-france. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.

                  p
                    | cfeb-france est identiquement propriétaire des "droits des producteurs de bases de données" visés au Livre III, Titre IV, du Code de la Propriété Intellectuelle (loi n° 98-536 du 1er juillet 1998) relative aux droits d'auteur et aux bases de données.

                  p
                    | Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement en direction de la page d’accueil, accessible à l’URL suivante : http://www.cfeb-france.org, à condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien profond ») est interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l'autorisation expresse et préalable de cfeb-france.
                  p
                    | Pour toute demande d'autorisation ou d'information, veuillez nous contacter par email: coordination@cfeb-france.org. Des conditions spécifiques sont prévues pour la presse.
                  p
                    | Par ailleurs, la mise en forme de ce site a nécessité le recours à des sources externes libre dont nous avons acquis les droits ou dont les droits d'utilisation sont ouverts.

                  h3 Hébergeur
                  p
                    | Ovh
                    br
                    | Plateforme de gestion et d’hébergement de site et serveurs informatiques.
                    br
                    | https://www.ovh.com

                  h2 style=("color: #CF732A")
                    | Conditions de service
                  p
                    | Ce site est proposé en langages HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Safari, Firefox, Chrome,...

                  h3 Informations et exclusion
                  p
                    | cfeb-france met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès de cfeb-france, et signaler toutes modifications du site qu'il jugerait utile. cfeb-france n'est en aucun cas responsable de l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.

                  h3 Cookies
                  p
                    | Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de petits fichiers textes stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation. Certaines parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.

                  h3 Liens hypertextes
                  p
                    | Les sites internet de peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet.
                  p
                    | cfeb-france ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet. cfeb-france ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.
                  p
                    | Les utilisateurs, les abonnés et les visiteurs des sites internet de cfeb-france ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de cfeb-france.

                  p
                    | Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de cfeb-france, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. cfeb-france se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.

                  h3 Recherche
                  p
                    | En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune façon que cfeb-france reconnaît ou accepte quelque responsabilité quant à la teneur ou à l'utilisation dudit site.

                  h3 Précautions d'usage
                  p
                    | Il vous incombe par conséquent de prendre les précautions d'usage nécessaires pour vous assurer que ce que vous choisissez d'utiliser ne soit pas entaché d'erreurs voire d'éléments de nature destructrice tels que virus, trojans, etc....

                  h3 Responsabilité
                  p
                    | Aucune autre garantie n'est accordée à l’utilisateur, auquel incombe l'obligation de formuler clairement ses besoins et le devoir de s'informer. Si des informations fournies par cfeb-france apparaissent inexactes, il appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance des résultats obtenus. cfeb-france ne sera en aucune façon responsable vis à vis des tiers de l'utilisation par l’utilisateur des informations ou de leur absence de ses sites Internet.

                  h3 Contactez-nous
                  p
                    | cfeb-france est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire en français par courrier électronique à :
                    '
                    = mail_to  "coordination@cfeb-france.org", "coordination@cfeb-france.org"
                    '
                    .


          row.text-center
            - unless signed_in?
              p
                | Vous devez lire et accepter les conditions générales d'utilisation pour continuer :
                '
                input name="button" id="chkLicenseAgreementSubmit" type="checkbox" value="Submit"
                '
                | J'accepte
              p
                input type="button" class="btn btn-default" id="btnCancelSignUp" title="Annuler" value="Annuler"
                  a id="btnCancelSignUpLink" href="#{license_agreement_path}?terms=false" class="btnCancelSignUpLink" title=""
                '
                input type="button" class="btn btn-large btn-primary" id="btnSignUp" title="Commencer l'identification" value="Commencer l'identification" disabled="true"
                  a id="btnSignUpLink" href="#{license_agreement_path}" class="btnSignUpLink" title=""
            - else
              p
                '
                = link_to  "ok", root_path, class: "btn btn-success btn-ok"
                = link_to  "Retour", root_path, class: "btn btn-default"