.page-header
  h1 Dashboard
.row
  - @countries.each do |country|
    .col-sm-6.col-md-4
      .thumbnail
        = image_tag country.flag.url(:thumb)
        .caption
          h3= link_to "#{country.name} (+#{country.indicatif})", country_path(country)
          span
            | Nombre d'utilisateurs enregistrés :
            = bootstrap_badge_for(country.users_count)
.row
  .center-row.col-lg-9
    = paginate @countries, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm pager pagination-centered"
br
br
