.page-header
  h1= t('form.page_home_title')

.row
  .col-sm-12.col-md-4.col-md-offset-4
    .flat_menu
      .thumbnail
        .caption
          - if signed_in?
            = image_tag("logo-cfeb-france.png", height: '140', width: '140', class: "img-circle")
          - else
            = link_to t('form.sign_in'), sign_in_path, class: "btn btn-primary btn-xl"
            p
            = link_to t('form.sign_up'), sign_up_path, class: "btn btn-success btn-xl"
        .center-row
          button.btn.btn-success.btn-link data-target="#guideModal" data-toggle="modal" type="button"  Guide
          | |
          = mail_to  "coordination@cfeb-france.org", "Nous écrire", class: "btn btn-success btn-link"
          | |
          = link_to  "Mentions légales", conditions_path, class: "btn btn-success btn-link"
      .center-row.text-center
        = render :partial => 'shareable/social_links'

.container
  /! Modal
  #guideModal.modal.fade role="dialog"
    .modal-dialog
      /! Modal content
      .modal-content
        .modal-header
          button.close data-dismiss="modal" type="button"  &times;
          h2.modal-title Guide de l'utilisateur
        .modal-body
          h3 Procédure d'identification
          p
            | La plateforme est mise à disposition pour permettre aux nigériens résidant en France, en Espagne au Portugal et au Royaume Uni de s'identifier. Et ceci, pour préciser, leurs coordonnées et positions géographiques afin d'en tenir compte dans le choix des points fixes de recensement.
            br
            b
              | Pour plus de détails, merci de consulter les démarches du
              '
              = link_to  "recensement.", "http://www.cfeb-france.org/index.php/demarches/", target: "_blank"
        .modal-footer
          button.btn.btn-default data-dismiss="modal" type="button"  Close

