= render :partial => 'users/show_user'
.row
  .form-actions.col-sm-offset-3
  = link_to t('.back', :default => t("helpers.links.back")), root_path, :class => 'btn btn-default'
  '
  = link_to t('.edit', :default => t("helpers.links.edit")), user_edit_profil_path, :class => 'btn btn-default'
  '
  - if admin_user?
    = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

