.row
  = facebook_button :send => 'true',
                    :url => 'http://www.cfeb-france.org/index.php/2015/08/06/plateforme-didentification-cfeb-france/',
                    :layout => 'button',
                    :turbolinks => false

  = twitter_button :hashtags => 'NigerDiasporaCensus',
                   :count => 'none',
                   :url => 'http://plateforme.cfeb-france.org',
                   #:via => 'cfeb_france',
                   :text => "#CFEB-France, Plateforme d'Identification des Nigeriens de France, d'Espagne & d'Angleterre",
                   :turbolinks => true

  = google_plus_button :annotation => 'none', :url => 'http://www.cfeb-france.org/index.php/2015/08/06/plateforme-didentification-cfeb-france/', :turbolinks => true, :recommendations => true


  /! , :static_link => true