- if object.errors.any?
  #error_explanation
    .alert.alert-danger.alert-error role="alert"
      - if object.errors.count > 1
        = t 'form.sign_up_form_errors', :count => object.errors.count
      - else
        = t 'form.sign_up_form_error', :count => object.errors.count
      p
        - if object.errors.count > 1
          = t 'form.sign_up_form_more_errors_message'
        - else
          = t 'form.sign_up_form_one_error_message'
          ul
            - object.errors.full_messages.each do |msg|
              li
                = "* #{msg}"