/! Where all the magic happens
/! LOGIN FORM
.text-center style=("padding:50px 0")
  .logo Connexion
  /! Main Form
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .login-form-1
      form#login-form.text-left
        .login-form-main-message
        .main-login-form
          .login-group
            = render 'errors/errors_messages', object: f.object
            .form-group
              label.sr-only for="lg_username"  Email
              = f.input :email, required: true, autofocus: true, label: false,  input_html: {id:'lg_username', class: 'form-control', placeholder: 'Email', maxlength: 50}, error_html: { class: 'input_error' }
            .form-group
              label.sr-only for="lg_password"  Mot de passe
              = f.input :password, required: true, label: false,  input_html: {id:'lg_password', class: 'form-control', placeholder: 'Mot de passe', maxlength: 50}, error_html: { class: 'input_error' }
            .form-group.login-group-checkbox
              = f.input :remember_me, label: t('form.remember_me'), as: :boolean if devise_mapping.rememberable?
          button.login-button type="submit"
            span Valider
        .etc-login-form
          = render "devise/shared/links"
      /! end:Main Form
