= simple_form_for @country, :html => { :class => "form-horizontal" } do |f|
  = f.error_notification
  = field_set_tag do
    legend Information sur le pays
    .row
      .form-group.col-xs-12.col-md-5
        = f.input :name, label: "Nom du Pays", input_html: {class: 'form-control', placeholder: 'Ex: France', maxlength: 50 }, error_html: { class: 'input_error' }
      .form-group.col-md-1
      .form-group.col-xs-12.col-md-2
        = f.input :indicatif, label: "L'indicatif", input_html: {class: 'form-control', placeholder: '+33', maxlength: 3}, error_html: { class: 'input_error' }
      .form-group.col-md-1
      .form-group.col-xs-12.col-md-3
        strong Est actif?
        br
        = f.input_field :enable, as: :boolean
    .form-group
      = f.file_field :flag, as: :file, label: "Merci d'ahouter un drapeau"
      p.help-block Cliquez pour ajouter un drapeau
  .form-actions.col-sm-offset-3
    = f.button :submit, :class => 'btn-primary'
    '
    = link_to t('.cancel', :default => t("helpers.links.cancel")), countries_path, :class => 'btn btn-default'






