- model_class = Country
ul.nav.nav-list
  li.nav-header =t '.title', :default => model_class.model_name.human.pluralize.titleize
  li= link_to t('.new', :default => t("helpers.links.new_ressource", model: "#{t '.title', :default => model_class.model_name.human.titleize}")), new_country_path
  li= link_to "Link 2", "/path2"
  li= link_to "Link 3", "/path3"
