- model_class = Country
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table class="table table-striped table-condensed table-hover"
  thead
    tr
      th= link_to_sortable :name, model_class.human_attribute_name(:name)
      th.hidden-xs= link_to_sortable :indicatif, model_class.human_attribute_name(:indicatif), :numeric
      th= link_to_sortable :enable, model_class.human_attribute_name(:enable), :default
      th= model_class.human_attribute_name(:users)
      th= model_class.human_attribute_name(:flag)
      - if admin_user?
        th.hidden-xs=t '.actions', :default => t("helpers.actions")
  tbody
    - @countries.each do |country|
      tr
        td= link_to country.name, country_path(country)
        td.hidden-xs= "(+#{country.indicatif})"
        td= bootstrap_label_for(country.enable)
        td= bootstrap_badge_for(country.users_count)
        td= image_tag country.flag.url(:thumb)
        - if admin_user?
          td.hidden-xs
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_country_path(country), :class => 'btn btn-default btn-xs'
            '
            = link_to t('.destroy', :default => t("helpers.links.destroy")), country_path(country), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

.row
  .center-row.col-lg-9
    = paginate @countries, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm pager pagination-centered"
br
br
- if current_user.has_role? :admin
  = link_to t('.new', :default => t("helpers.links.new")), new_country_path, :class => 'btn btn-primary'

