- model_class = Country
div class="page-header"
  .row
    .col-xs-12.col-md-5
      .img-thumbnail
        = image_tag @country.flag.url(:medium)
      p
        - if @country.flag.exists? && admin_user?
          = link_to t('.destroy', :default => t("helpers.links.destroy_flag")), destroy_flag_path(@country), :method => "get", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } , :class => 'btn btn-link btn-xs'
    .col-xs-12.col-md-5
      h1= @country.name
      br
      .text-center
        = link_to t('.back', :default => t("helpers.links.back")), countries_path, :class => 'btn btn-default btn-xs'
        '
        - if admin_user?
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_country_path(@country), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), country_path(@country), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs'


br
.panel.panel-default
  .panel-heading
    h3.panel-title
    .row
      .form-group.col-xs-12.col-md-3
        strong= "#{model_class.human_attribute_name(:name)} : #{@country.name}"
      .form-group.col-xs-12.col-md-3.hidden-xs
        strong= "#{model_class.human_attribute_name(:indicatif)} : (+ #{@country.indicatif})"
      .form-group.col-xs-12.col-md-3
        strong= "#{model_class.human_attribute_name(:enable)} : "
        '
        = bootstrap_label_for(@country.enable)
      .form-group.col-xs-12.col-md-3
        strong Nombre d'utilisateurs :
        '
        = bootstrap_badge_for(@country.users_count)


  .panel-body
    .row
      - unless @users.empty?
        - inner_model_class = User
        div class="text-center"
          h1=t '.title', :default => inner_model_class.model_name.human.pluralize.titleize
          - if admin_user?
            p.center-row.col-lg-2
              | Download :
              '
              | -
              /!link_to "CSV", users_path(format: "csv")
              '
              ||
              '
              = link_to "Excel", country_path(format: "xls")
          hr
        table class="table table-striped table-condensed table-hover"
          thead
            tr
              th= inner_model_class.human_attribute_name(:name)
              th.hidden-xs= inner_model_class.human_attribute_name(:email)
              th= inner_model_class.human_attribute_name(:city)
              th.text-center=t '.account.confirmation', :default => "Confirmation du compte"
              th.hidden-xs=t '.actions', :default => t("helpers.actions")
          tbody
            = render :partial => 'users/users_list'