= render :partial => 'layouts/plateforme_title'

p= "#{@msg_head}"
p= "#{@msg_body}"
- if !@msg_footer.nil?
  p style=("background-color: #CF732A")
    = "#{@msg_footer}"
p
  | Thanks

= render :partial => 'layouts/plateforme_footer'
