= render :partial => 'layouts/plateforme_title'
p
  | Bonjour
  '
  = @user.pretty_name
  | !
p
  | Nous avons le plaisir de vous annoncer que grâce à votre mobilisation massive, vous avez été nombreux à vous identifier sur la plateforme de CFEB-FRANCE. Nous vous en remercions.

p
  | Ainsi, nous vous invitons à prendre connaissance du communiqué ci-dessous relatif aux dates et aux sites retenus dans le cadre du rencensement.
br
p
  | Cordialement

br
p.text-center
  = render :partial => 'layouts/plateforme_send_sensus_information'

br
= render :partial => 'layouts/plateforme_footer'
