= render :partial => 'layouts/plateforme_title'
p
  | Bonjour
  '
  = @user.pretty_name
  | !
p
  | Nous vous remercions de vous être identifié sur la plateforme.
p
  | Merci de noter que votre identification est désormais confirmée.
p
  | Vous recevrez des notifications vous informant de l'actualité sur le recencement dans votre zone.
p
  ul
    li
      | Vous pouvez dès à présent
      '
      = link_to 'vous connecter', sign_in_url, :target => "_blank"
      '
      | pour complèter votre profil.
    li
      | Vous trouverez également via
      '
      = link_to 'ce lien', 'http://www.cfeb-france.org/index.php/demarches/', :target => "_blank"
      |, les informations essentielles à retenir dans le cadre de vos démarches.
p
  | Cordialement

br

hr

p
  | Welcome
  '
  = @user.pretty_name
  | !

p
  | Thank you for your sign up on the platform.
p
  | Thank you to note that, your identification is now confirmed.
p
  | You will receive notifications informing you about the census in your area.
p
  ul
    li
      | You can now
      '
      = link_to 'sign in', sign_in_url, :target => "_blank"
      '
      | to complete your profile.
    li
      | You can also find bye
      '
      = link_to 'follow this link', 'http://www.cfeb-france.org/index.php/demarches/', :target => "_blank"
      |, retain essential information for your census steps.
p
  | Best regards

= render :partial => 'layouts/plateforme_footer'
