= render :partial => 'layouts/plateforme_title'
p
  | Bienvenue sur la plateforme d'identification
  '
  = @resource.pretty_name
  | !
p
  | Pour compléter votre identification, vous devez confirmer votre compte e-mail via le lien ci-dessous :
p
  = link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token)
br
hr

p
  | Welcome
  '
  = @resource.pretty_name
  | !
p
  | To complete your identification, you must confirm your e -mail account via the link below :
p
  = link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
= render :partial => 'layouts/plateforme_footer'
