= render :partial => 'layouts/plateforme_title'
p
  | Bonjour
  '
  = @resource.pretty_name
  | !
p
  | Quelqu'un a demandé à changer votre mot de passe. Vous pouvez le faire via le lien ci-dessous.
p
  = link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token)
p
  | Si vous n' êtes pas l'auteur de cette requête, merci s'il vous plaît, d'ignorer cet e-mail.
p
  | Votre mot de passe ne changera pas jusqu'à ce que vous accédez au lien ci-dessus et en créer un nouveau.
br
hr
p
  | Hello
  '
  = @resource.pretty_name
  | !
p
  | Someone has requested a link to change your password. You can do this through the link below.
p
  = link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
p
  | If you didn't request this, please ignore this email.
p
  | Your password won't change until you access the link above and create a new one.
= render :partial => 'layouts/plateforme_footer'
