= render :partial => 'layouts/plateforme_title'
p
  | Bienvenue
  '
  = @resource.pretty_name
  | !
p
  | Votre compte a été bloqué en raison d' un nombre excessif de signe d'échec dans les tentatives de connexion.
p
  | Cliquez sur le lien ci-dessous pour déverrouiller votre compte :
p
  = link_to 'Déverrouiller mon compte', unlock_url(@resource, unlock_token: @token)

br
hr
p
  | Hello
  '
  = @resource.email
  | !
p
  | Your account has been locked due to an excessive number of unsuccessful sign in attempts.
p
  | Click the link below to unlock your account:
p
  = link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token)
= render :partial => 'layouts/plateforme_footer'
