  .container
    .text-center
      p.text-muted.credit
        ' Copyright &copy;
        = link_to Settings.application_full_name, root_path
        '  #{DateTime.now.year}
        /! designed by link_to Settings.application_designer, Settings.application_designer_url, target: 'blanck'
