nav.navbar.navbar-default
  .container
    /! Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href="/" CFEB-France - Admin
    /! Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          = link_to t('mongoid.models.user.other', :default => "Users"), users_path
          span.sr-only (current)
        li= link_to t('mongoid.models.country.other', :default => "Countries"), countries_path
      / form.navbar-form.navbar-left role="search"
      /   .form-group
      /     input.form-control placeholder="Search" type="text" /
      /   button.btn.btn-default type="submit"  Submit
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
            | Compte
            span.caret
          ul.dropdown-menu
            li
              = link_to current_user do
                i.fa.fa-user.fa-fw
                '
                | Profil
            li
              = link_to edit_user_path(current_user)   do
                i.fa.fa-cog
                '
                | Paramètres
            li.divider
            li
              = link_to destroy_user_session_path, title: "Se déconnecter" do
                i.fa.fa-sign-out
                '
                | Se déconnecter
    /! /.navbar-collapse
  /! /.container-fluid

