- if user_signed_in?
  = link_to destroy_user_session_path, class: "btn btn-default", title: "Se déconnecter" do
    i.fa.fa-sign-out

  - if user_has_access_to_admin_panel?
    = link_to dashboard_path, class: "btn btn-default", title: "Accéder à l'interface d'administration" do
      i.fa.fa-cog
- else
  = link_to new_user_session_path, class: "btn btn-default", title: "Se connecter" do
    i.fa.fa-sign-in


