.btn-group
  = link_to user_profil_path, class: "btn btn-default", title: "Accéder à votre compte!" do
    i.fa.fa-user.fa-fw
  = render :partial => 'layouts/login_items'
  button.btn.btn-default.dropdown-toggle data-toggle="dropdown" type="button" title="Menu"
    | Menu
    span.caret
    span.sr-only Toggle Dropdown
  ul.dropdown-menu role="menu"
    li
      = link_to root_path do
        i.fa.fa-home
        '
        | Accueil
    li
      = link_to about_path do
        i.fa.fa-question-circle
        '
        | Qui sommes nous?
    li.divider
    li
      = link_to conditions_path, class: "link" do
        i.fa.fa-book
        '
        | Conditions d'uitlisation
