p style=("text-align: center; vertical-align: middle; padding-top: 20px; height: 40px; background-image: linear-gradient(to bottom, #ffffff, #f2f2f2); border: 1px solid #d4d4d4")
  ' Copyright &copy;
  = link_to Settings.application_full_name, 'http://plateforme.cfeb-france.org'
  '  #{DateTime.now.year}
