h1 style=("color: #CF732A")
  span #
  span style=("color: #2B5391")
    | CFEB-France -
  span Identification

hr style=("display: block; height: 1px; border: 0px; border-top: 2px solid #CF732A; margin: 1em 0; padding: 0;")
