<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <!-- NAME: SIMPLE TEXT -->
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>*|MC:SUBJECT|*</title>

    <style type="text/css">
    p{
      margin:1em 0;
    }
    table{
      border-collapse:collapse;
    }
    img,a img{
      border:0;
      outline:none;
      text-decoration:none;
    }
    h1,h2,h3,h4,h5,h6{
      display:block;
      margin:0;
      padding:0;
    }
    body,#bodyTable,#bodyCell{
      height:100% !important;
      margin:0;
      padding:0;
      width:100% !important;
    }
    #outlook a{
      padding:0;
    }
    img{
      -ms-interpolation-mode:bicubic;
    }
    .ReadMsgBody{
      width:100%;
    }
    .ExternalClass{
      width:100%;
    }
    td,table{
      mso-table-lspace:0pt;
      mso-table-rspace:0pt;
    }
    p,a,li,td,body,table,blockquote{
      -ms-text-size-adjust:100%;
      -webkit-text-size-adjust:100%;
    }
    .ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
      line-height:100%;
    }
    a.mcnButton{
      display:block;
    }
    .mcnImage{
      vertical-align:bottom;
    }
    .mcnTextContent img{
      height:auto !important;
    }
  /*
  @tab Page
  @section background style
  @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
  */
    body,#bodyTable{
      /*@editable*/background-color:#FFFFFF;
    }
  /*
  @tab Page
  @section background style
  @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
  */
    #bodyCell{
      /*@editable*/border-top:0;
    }
  /*
  @tab Page
  @section email border
  @tip Set the border for your email.
  */
    #templateContainer{
      /*@editable*/border:0;
    }
  /*
  @tab Page
  @section heading 1
  @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
  @style heading 1
  */
    h1{
      /*@editable*/
      /*color:#202020 !important; */
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:24px;
      /*@editable*/font-style:normal;
      /*@editable*/font-weight:bold;
      /*@editable*/line-height:125%;
      /*@editable*/letter-spacing:normal;
      /*@editable*/text-align:left;
    }
  /*
  @tab Page
  @section heading 2
  @tip Set the styling for all second-level headings in your emails.
  @style heading 2
  */
    h2{
      /*@editable*/color:#202020 !important;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:20px;
      /*@editable*/font-style:normal;
      /*@editable*/font-weight:bold;
      /*@editable*/line-height:125%;
      /*@editable*/letter-spacing:-.75px;
      /*@editable*/text-align:left;
    }
  /*
  @tab Page
  @section heading 3
  @tip Set the styling for all third-level headings in your emails.
  @style heading 3
  */
    h3{
      /*@editable*/color:#202020 !important;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:18px;
      /*@editable*/font-style:normal;
      /*@editable*/font-weight:bold;
      /*@editable*/line-height:125%;
      /*@editable*/letter-spacing:normal;
      /*@editable*/text-align:left;
    }
  /*
  @tab Page
  @section heading 4
  @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
  @style heading 4
  */
    h4{
      /*@editable*/color:#202020 !important;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:16px;
      /*@editable*/font-style:normal;
      /*@editable*/font-weight:bold;
      /*@editable*/line-height:125%;
      /*@editable*/letter-spacing:normal;
      /*@editable*/text-align:left;
    }
  /*
  @tab Header
  @section header style
  @tip Set the background color and borders for your email's header area.
  */
    #templateHeader{
      /*@editable*/border-bottom:0;
    }
  /*
  @tab Header
  @section header text
  @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
  */
    .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
      /*@editable*/color:#202020;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:15px;
      /*@editable*/line-height:150%;
      /*@editable*/text-align:left;
    }
  /*
  @tab Header
  @section header link
  @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
  */
    .headerContainer .mcnTextContent a{
      /*@editable*/color:#202020;
      /*@editable*/font-weight:normal;
      /*@editable*/text-decoration:underline;
    }
  /*
  @tab Body
  @section body style
  @tip Set the background color and borders for your email's body area.
  */
    #templateBody{
      /*@editable*/border-top:0;
      /*@editable*/border-bottom:0;
    }
  /*
  @tab Body
  @section body text
  @tip Set the styling for your email's body text. Choose a size and color that is easy to read.
  */
    .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
      /*@editable*/color:#202020;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:15px;
      /*@editable*/line-height:150%;
      /*@editable*/text-align:left;
    }
  /*
  @tab Body
  @section body link
  @tip Set the styling for your email's body links. Choose a color that helps them stand out from your text.
  */
    .bodyContainer .mcnTextContent a{
      /*@editable*/color:#202020;
      /*@editable*/font-weight:normal;
      /*@editable*/text-decoration:underline;
    }
  /*
  @tab Footer
  @section footer style
  @tip Set the background color and borders for your email's footer area.
  */
    #templateFooter{
      /*@editable*/border-top:0;
    }
  /*
  @tab Footer
  @section footer text
  @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
  */
    .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
      /*@editable*/color:#202020;
      /*@editable*/font-family:Helvetica;
      /*@editable*/font-size:11px;
      /*@editable*/line-height:125%;
      /*@editable*/text-align:left;
    }
  /*
  @tab Footer
  @section footer link
  @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
  */
    .footerContainer .mcnTextContent a{
      /*@editable*/color:#202020;
      /*@editable*/font-weight:normal;
      /*@editable*/text-decoration:underline;
    }
  @media only screen and (max-width:480px){
    body{
      width:100% !important;
      min-width:100% !important;
    }

} @media only screen and (max-width:480px){
    td[class=footerContainer] a[class=utilityLink]{
      display:block !important;
    }

} @media only screen and (max-width:480px){
    td[class=mcnImageGroupContent]{
      padding:9px !important;
    }

} @media only screen and (max-width:480px){
    td[class=mcnImageCardBottomImageContent]{
      padding-bottom:9px !important;
    }

} @media only screen and (max-width:480px){
    table[class=mcpreview-image-uploader]{
      display:none !important;
      width:100% !important;
    }

} @media only screen and (max-width:480px){
    td[class=mcnImageGroupBlockInner]{
      padding-top:0 !important;
      padding-bottom:0 !important;
    }

} @media only screen and (max-width:480px){
    tbody[class=mcnImageGroupBlockOuter]{
      padding-top:9px !important;
      padding-bottom:9px !important;
    }

} @media only screen and (max-width:480px){
    td[class=mcnTextContent],td[class=mcnBoxedTextContentColumn]{
      padding-right:18px !important;
      padding-left:18px !important;
    }

} @media only screen and (max-width:480px){
    table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent],table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent]{
      padding-top:9px !important;
    }

} @media only screen and (max-width:480px){
    td[class=mcnImageCardLeftImageContent],td[class=mcnImageCardRightImageContent]{
      padding-right:18px !important;
      padding-bottom:0 !important;
      padding-left:18px !important;
    }

} @media only screen and (max-width:480px){
    td[class=mcnImageCardTopImageContent],td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent]{
      padding-top:18px !important;
    }

} @media only screen and (max-width:480px){
    img[class=mcnImage],table[class=mcnCaptionTopContent],table[class=mcnCaptionBottomContent],table[class=mcnTextContentContainer],table[class=mcnBoxedTextContentContainer],table[class=mcnImageGroupContentContainer],table[class=mcnCaptionLeftTextContentContainer],table[class=mcnCaptionRightTextContentContainer],table[class=mcnCaptionLeftImageContentContainer],table[class=mcnCaptionRightImageContentContainer],table[class=mcnImageCardLeftTextContentContainer],table[class=mcnImageCardRightTextContentContainer],table[class=socialContainer]{
      width:100% !important;
    }

} @media only screen and (max-width:480px){
  /*
  @tab Mobile Styles
  @section template width
  @tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work for you, set the width to 300px instead.
  */
    table[id=templateContainer],table[id=templatePreheader],table[id=templateHeader],table[id=templateBody],table[id=templateFooter]{
      /*@tab Mobile Styles
@section template width
@tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work for you, set the width to 300px instead.*/max-width:600px !important;
      /*@editable*/width:100% !important;
    }

} @media only screen and (max-width:480px){
  /*
  @tab Mobile Styles
  @section heading 1
  @tip Make the first-level headings larger in size for better readability on small screens.
  */
    h1{
      /*@editable*/font-size:24px !important;
      /*@editable*/line-height:125% !important;
    }

} @media only screen and (max-width:480px){
  /*
  @tab Mobile Styles
  @section heading 2
  @tip Make the second-level headings larger in size for better readability on small screens.
  */
    h2{
      /*@editable*/font-size:20px !important;
      /*@editable*/line-height:125% !important;
    }

} @media only screen and (max-width:480px){
  /*
  @tab Mobile Styles
  @section heading 3
  @tip Make the third-level headings larger in size for better readability on small screens.
  */
    h3{
      /*@editable*/font-size:18px !important;
      /*@editable*/line-height:125% !important;
    }

} @media only screen and (max-width:480px){
  /*
  @tab Mobile Styles
  @section heading 4
  @tip Make the fourth-level headings larger in size for better readability on small screens.
  */
    h4{
      /*@editable*/font-size:16px !important;
      /*@editable*/line-height:125% !important;
    }

} @media only screen and (max-width:480px){
  /*
  @tab Mobile Styles
  @section Header Text
  @tip Make the header text larger in size for better readability on small screens.
  */
    td[class=headerContainer] td[class=mcnTextContent],td[class=headerContainer] td[class=mcnTextContent] p{
      /*@editable*/font-size:18px !important;
      /*@editable*/line-height:125% !important;
    }

} @media only screen and (max-width:480px){
  /*
  @tab Mobile Styles
  @section Body Text
  @tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
  */
    td[class=bodyContainer] td[class=mcnTextContent],td[class=bodyContainer] td[class=mcnTextContent] p{
      /*@editable*/font-size:18px !important;
      /*@editable*/line-height:125% !important;
    }

} @media only screen and (max-width:480px){
  /*
  @tab Mobile Styles
  @section footer text
  @tip Make the body content text larger in size for better readability on small screens.
  */
    td[class=footerContainer] td[class=mcnTextContent],td[class=footerContainer] td[class=mcnTextContent] p{
      /*@editable*/font-size:14px !important;
      /*@editable*/line-height:115% !important;
    }

} @media only screen and (max-width:480px){
  /*
  @tab Mobile Styles
  @section Boxed Text
  @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
  */
    table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent],td[class=mcnBoxedTextContentContainer] td[class=mcnTextContent] p{
      /*@editable*/font-size:18px !important;
      /*@editable*/line-height:125% !important;
    }

}</style></head>
    <body>
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                <tr>
                    <td align="left" valign="top" id="bodyCell">
                        <!-- BEGIN TEMPLATE // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                            <tr>
                                <td align="left" valign="top">
                                    <!-- BEGIN HEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                        <tr>
                                            <td valign="top" class="headerContainer" style="padding-top:9px; padding-bottom:9px;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner">

                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                            <h1><strong style="box-sizing: inherit;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;text-align: center;">Communiqué CFEB-FRANCE</strong></h1>

                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    <!-- BEGIN BODY // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContainer" style="padding-top:9px; padding-bottom:9px;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
    <tbody class="mcnDividerBlockOuter">
        <tr>
            <td class="mcnDividerBlockInner" style="padding: 18px;">
                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner">

                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                            <p style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: center;">&nbsp;<img alt="logo_cfeb" class="alignnone size-full wp-image-291" height="80" src="http://www.cfeb-france.org/wp-content/uploads/2015/07/logo_cfeb.png" style="box-sizing: inherit; border: 0px; vertical-align: middle; max-width: 100%; height: auto;" width="90"></p>

<p style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: center;"><strong style="box-sizing:inherit">Comité du Fichier Electoral Biométrique (CFEB)</strong><br style="box-sizing: inherit;">
<strong style="box-sizing:inherit">Coordination diplomatique de France</strong><br style="box-sizing: inherit;">
<strong style="box-sizing:inherit">Communiqué</strong></p>

<p style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit">La Coordination Diplomatique CFEB France a l’honneur d’informer les Nigériennes et les Nigériens de France, Espagne, Angleterre et Portugal âgés de dix-huit ans révolus au jour du scrutin, ou mineurs émancipés, de la tenue prochaine de recensement électoral sur les sites et aux dates suivants&nbsp;:</span><br>
&nbsp;</p>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="width: 16px; height: 21px; margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Ile-de-France</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: En continue du&nbsp;<strong class="label label-primary" style="background-color: #337AB7;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">lundi 31 août 2015</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;:&nbsp;Ambassade du Niger à Paris, 154 rue de Long-champ 75016.<br style="box-sizing: inherit;">
<strong style="box-sizing:inherit">&nbsp;Itinéraire</strong>&nbsp;: Metro 2 - station Porte Dauphine.</span></div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Metz</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;: 67 rue Mazelle 57000 Metz.</span></div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Lyon</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;: 84 Rue Gabriel Péri 69200 Vénissieux.<br style="box-sizing: inherit;">
<strong style="box-sizing:inherit">&nbsp;Itinéraire</strong>&nbsp;: Gare -&gt; métro de Vénissieux -&gt; bus 93 en direction de l'hôpital de Feyzin, Station : Vénissieux Blanqui -&gt; continuer dans le sens du bus et prendre la deuxième rue sur votre droite pour aller au numéro 84.</span></div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Marseille</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;: 67 rue d'Aubagne 13001 Marseille.</span></div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Nantes</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;:&nbsp;57 Boulevard Gabriel Lauriol 44300 Nantes.</span></div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Toulouse</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;: Espace Anadyr - 108 Route d'Espagne - 31100 Toulouse.</span><br style="box-sizing: inherit;">
<strong style="box-sizing:inherit">&nbsp;Itinéraire</strong>&nbsp;: Lignes de bus n°52 ou 11 - arrêt Langlade.</div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Orléans</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;: 8 rue Denis Papin 45000 Orléans.</span></div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Caen</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;: 1018 Quartier du Grand Parc, &nbsp;14200 Hérouville Saint Clair.</span></div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Lille</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;: 49 Rue de Carnoy, 59130 Lambersart.</span><br style="box-sizing: inherit;">
<strong style="box-sizing:inherit">&nbsp;Itinéraire</strong>&nbsp;: L’entrée de la salle se fait &nbsp;par l'Avenue Georges Clemenceau.</div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Rennes</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;: 23 Avenue Professeur Charles Foulon, 35700 Rennes.</span><br style="box-sizing: inherit;">
<strong style="box-sizing:inherit">&nbsp;Itinéraire</strong>&nbsp;: Résidence Jean Ferrat Bâtiment A 205.</div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;"><span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Montpellier</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;: cette section sera mise à jour dès que possible.</div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Bordeaux</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;: cette section sera mise à jour dès que possible.</div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Londres</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;: cette section sera mise à jour dès que possible.</div>

<div class="well well-sm" style="box-sizing: inherit;min-height: 20px;padding: 9px;margin-bottom: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;">&nbsp;<span style="background-color: #F5F5F5;color: #606666;font-family: merriweather,georgia,serif;font-size: 18px;line-height: 29px;">&nbsp;</span><img align="none" height="21" src="https://gallery.mailchimp.com/5634fe72cc231020d78003ccd/images/0e7a9946-1f01-40e9-a376-0e0b151f4ff1.png" style="color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;background-color: #F5F5F5;width: 16px;height: 21px;margin: 0px;" width="16">&nbsp;<strong style="box-sizing:inherit">Barcelone</strong><br style="box-sizing: inherit;">
<span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;Date</strong>&nbsp;: Du&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">samedi&nbsp;05</strong>&nbsp;au&nbsp;<strong class="label label-warning" style="background-color: #F0AD4E;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">dimanche 6 septembre 2015</strong>&nbsp;de&nbsp;<strong class="label label-info" style="background-color: #5BC0DE;border-bottom-left-radius: 0.25em;border-bottom-right-radius: 0.25em;border-top-left-radius: 0.25em;border-top-right-radius: 0.25em;box-sizing: inherit;color: #FFFFFF;display: inline;font-size: 13px;font-weight: 700;line-height: 1;padding: 0.2em 0.6em 0.3em;text-align: center;vertical-align: baseline;white-space: nowrap;">10H à 18H</strong>.</span><br style="box-sizing: inherit;">
<strong style="box-sizing:inherit">&nbsp;Adresse</strong>&nbsp;: cette section sera mise à jour dès que possible.</div>

<p style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;">La Coordination Diplomatique de France attire l’attention de notre diaspora sur le caractère indispensable de l’inscription sur les listes électorales pour pouvoir user de son droit de vote dans les scrutins à venir.</p>

<p style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit">Elle lance un appel à l’endroit de tous les compatriotes en âge de voter le jour du scrutin (Nées maximum en 1998) pour accomplir leur devoir civique en se faisant recenser dans l’un des 14 sites de recensement retenus dans la juridiction de l’Ambassade du Niger à Paris.&nbsp;</span></p>

<p style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit">Pour vous faire recenser, nous vous invitons à vous présenter sur le site de recensement le plus pratique pour vous aux dates &nbsp;indiquées plus haut, muni de l’une des pièces d’identité suivantes&nbsp;:</span></p>

<ul>
  <li style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit">&nbsp;Carte nationale d’identité ;</span></li>
  <li style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit">&nbsp;Passeport national ;</span></li>
  <li style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit">&nbsp;Acte de naissance ;</span></li>
  <li style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit">&nbsp;Certificat de nationalité ;</span></li>
  <li style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit">&nbsp;Carte militaire ;</span></li>
  <li style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit">&nbsp;Carte consulaire ;</span></li>
  <li style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit">Carnet ou livret de famille régulièrement enregistré dans les registres de l’administration.</span></li>
</ul>

<p style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit">Pour plus d’information, nous mettons à votre disposition l’ensemble des outils de communication ci-après:</span></p>

<p style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><strong style="box-sizing:inherit">&nbsp;Une adresse postale:</strong><span style="box-sizing:inherit">&nbsp;CFEB-France chez Ambassade du Niger 154, rue de Longchamp, 75116 Paris.</span></p>

<p style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit">&nbsp;</span><strong style="box-sizing:inherit">Une adresse mail&nbsp;:</strong>&nbsp;<a href="mailto:coordination@cfeb-france.org" style="box-sizing: inherit;background-color: transparent;color: #CC523E;text-decoration: none;-webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;word-break: break-word;-webkit-hyphens: auto;position: relative;display: inline-block;"><span style="box-sizing:inherit">coordination@cfeb-france.org</span></a></p>

<p style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><strong style="box-sizing:inherit">&nbsp;Un site web:</strong><span style="box-sizing:inherit">&nbsp;</span><a href="http://www.cfeb-france.org/" style="box-sizing: inherit;background-color: transparent;color: #CC523E;text-decoration: none;-webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;word-break: break-word;-webkit-hyphens: auto;position: relative;display: inline-block;"><span style="box-sizing:inherit">http://www.cfeb-france.org/</span></a></p>

<p style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;"><strong style="box-sizing:inherit">&nbsp;Une adresse Facebook&nbsp;:</strong>&nbsp;<a href="https://www.facebook.com/CFEB.FRANCE" style="box-sizing: inherit;background-color: transparent;color: #CC523E;text-decoration: none;-webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;word-break: break-word;-webkit-hyphens: auto;position: relative;display: inline-block;"><span style="box-sizing:inherit">https://www.facebook.com/CFEB.FRANCE</span></a></p>

<ul>
  <li style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><strong style="box-sizing:inherit">&nbsp;Coordonnateur&nbsp;:</strong><span style="box-sizing:inherit">&nbsp;06 85 81 28 65</span></li>
  <li style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;</strong></span><strong style="box-sizing:inherit">Rapporteur&nbsp;:</strong><span style="box-sizing:inherit">&nbsp;06 50 40 59 56</span></li>
  <li style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><span style="box-sizing:inherit"><strong style="box-sizing:inherit">&nbsp;</strong></span><strong style="box-sizing:inherit">Rapporteur&nbsp;:</strong><span style="box-sizing:inherit">&nbsp;06 45 84 66 80&nbsp;</span></li>
</ul>

<p style="box-sizing: inherit;margin: 0px 0px 1.5em;color: #606666;font-family: Merriweather, Georgia, serif;font-size: 18px;line-height: 29px;text-align: justify;"><br style="box-sizing: inherit;">
<span style="box-sizing:inherit">Nous comptons sur votre sens du devoir et du patriotisme pour la réussite de ce projet National.</span></p>

                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    <!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                                        <tr>
                                            <td valign="top" class="footerContainer" style="padding-top:9px; padding-bottom:9px;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
    <tbody class="mcnDividerBlockOuter">
        <tr>
            <td class="mcnDividerBlockInner" style="padding: 18px;">
                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
