- if @elasticsearch_service.try(:status)
  = form_tag users_path, method: :get, remote: true do
    .row.center-row
      .col-lg-8.col-lg-offset-2
        #search_errors_explanation
      .col-lg-8.col-lg-offset-2
        .input-group
          = text_field_tag :query, params[:query], class: "form-control typeahead", placeholder: 'Enter search term...', id: "query", autocomplete: "off", name: "query"
          span.input-group-btn
            button.btn.btn-default type="submit" class="btn search-query"
              i class="fa fa-search"
  /
    javascript:
      $("#query").typeahead(
      {
        hint: true,
        highlight: true,
        minLength: 1
      },
      { 
        name: "first_name",
        remote: "/autocomplete?query=%QUERY"
      });

