doctype html
html lang="en"
  head
    = render :partial => 'layouts/head'

  body
    /!-- Wrap all page content here
    #wrap
      = render :partial => 'layouts/header'

      /!begin page content
      .container.dashboard
        .row
          .col-lg-12
            = bootstrap_flash
            = yield
          /! .col-lg-3
          /!   .well.sidebar-nav
          /!     h3 Sidebar
          /!     /= render :partial => 'sidebar'


  /!begin page footer
  footer
    = render :partial => 'layouts/footer'
