doctype html
html lang="en"
  head
    = render :partial => 'layouts/head'

  body
    /!-- Wrap all page content here
    #wrap
      /!= render :partial => 'layouts/header'
      /!begin page content
      .container
        .row
          .col-lg-12
            .public
              .row.text-center
                .col-lg-9.text-left style=("padding: 0 5px")
                  = link_to root_path do
                    h1
                      span #
                      span.t1 CFEB-France - 
                      span Identification
                .col-lg-3.pull-right style=("padding-top:20px")
                - if signed_in?
                  = render :partial => 'layouts/page_menu'
              hr
            = bootstrap_flash
            = yield

  /!begin page footer
  footer
    = render :partial => 'layouts/footer'


